body {
    background-color: rgb(0, 0, 0);
}

* {
    box-sizing: border-box
}

body {
    text-align: center;
}

header,
section,
footer,
aside,
nav,
article,
figure,
figcaption,
hgroup {
    display: block;
}

#reproductor {
    width: 720px;
    margin: 20px auto;
    padding: 5px;
    background: #8c91d2;
    border: 1px solid #666666;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

nav {
    margin: 20px;
    padding: 10px;
    background:  #8c91d2;
    border: 1px solid #666666;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

#botones {
    width: 230px;
    float: left;
    height: 20px;
    align-items: center;
    border-radius: 10px; 
}

#barra{
position: relative;
float: left;
width: 500px;
height: 20px;
padding: 2px;
border: 1px solid #CCCCCC;
background: #EEEEEE;
border-radius: 5px; 
}

#progreso{
position: absolute;
width: 0px;
height: 16px;
background: rgba(0,0,150,.2);
}
    
/* Contenedor del carrusel de imágenes */
.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
}

/* Esconde las imágenes por defecto */
.mySlides {
    display: none;
}

/* Botones de siguiente y anterior */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Posicionamiento del botón anterio hacia la izquierda */
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* Posicionamiento del botón siguiente hacia la derecha */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Agrega a los botones siguiente y anterior un fondo negro difuminado*/
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Texto de la imagen*/
.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ece7ef;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Numero de imagen (1/3 etc) */
.numbertext {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #45287d;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Círculos debajo del carrusel */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #8c25db;
}

/*Animación de diapositiva siguiente */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

h1 {
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

